body {
  box-sizing: border-box;
  font-family: $font-sans;
  // font-size: 16px;
  // padding: 100px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.45px;
}

::selection {
  background-color: lighten($green,60%);
}
